<!DOCTYPE html>
<html lang="zh">
   {% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="viggo" />
    <title>blog.cuiwin.top - 运维工程师网址导航</title>
    <meta name="keywords" content="Linux运维,运维开发,Python,云计算,kubernetes,k8s,Openstack,阿里云,运维开发导航,Python Web开发">
    <meta name="description" content="收集关于Linux运维和运维开发等工作常接触的网站和优秀博客">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %} ">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">-->
    <link rel="stylesheet" href="{% static 'css/fonts/linecons/css/linecons.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'css/xenon-core.css' %} ">
    <link rel="stylesheet" href="{% static 'css/xenon-components.css' %}">
    <link rel="stylesheet" href="{% static 'css/xenon-skins.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src=" {% static 'js/jquery-1.11.1.min.js' %} "></script>

    <!-- baidu 统计-->
    <script src=" {% static 'js/baidu.js' %} "></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="page-body">
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="{% url 'bookmark:index' %}" class="logo-expanded">
                            <img src=" {% static 'images/logo@2x.png' %} " width="100%" alt="" />
                        </a>
                        <a href="{% url 'bookmark:index' %}" class="logo-collapsed">
                            <img src=" {% static 'images/logo-collapsed@2x.png' %}" width="40" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="user-info-menu">
                            <i class="linecons-cog"></i>
                        </a>
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    {% for t in topic_list %}
                    {% if t.parent_id is None  %}
                    <li>
                        {% with t.topic_set.all as sub_topic_list %}
                        {% if sub_topic_list %}
                        <a>
                            <i class="{{ t.icon }}"></i>
                            <span class="title">{{ t.name }}</span>

                        </a>
                         <ul>
                        {% for subtopic in sub_topic_list %}
                                <li>
                                    <a href="#{{ subtopic.name }}" class="smooth">
                                        <span class="title">{{ subtopic.name }}</span>
                                        {% if subtopic.ishot %}
                                            <span class="label label-pink pull-right hidden-collapsed">Hot</span>
                                        {% endif %}
                                    </a>
                                </li>
                        {% endfor %}
                         </ul>
                        {% else %}
                        <a href="#{{ t.name }}" class="smooth">
                            <i class="{{ t.icon }}"></i>
                            <span class="title">{{ t.name }}</span>
                            {% if t.ishot %}
                                <span class="label label-pink pull-right hidden-collapsed">Hot</span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% endwith %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <div class="submit-tag">
                        <a href="{% url 'bookmark:bookmark_about' %}">
                            <i class="linecons-heart"></i>
                            <span class="tooltip-blue">关于本站</span>
                            <span class="label label-Primary pull-right hidden-collapsed">♥  </span>
                        </a>
                        <a href="{% url 'article:index' %}">
                            <i class="linecons-pencil"></i>
                            <span class="tooltip-blue">返回博客</span>
                            <span class="label label-Primary pull-right hidden-collapsed"></span>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <!-- 左侧的导航 -->
            <nav class="navbar user-info-navbar" role="navigation">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
                    <!--<li class="dropdown hover-line language-switcher">-->
                        <!--<a href="../cn/index.html" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<img src=" {% static 'images/flags/flag-cn.png' %}" alt="flag-cn" /> Chinese-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu languages">-->
                            <!--<li>-->
                                <!--<a href="../en/index.html">-->
                                    <!--<img src="../assets/images/flags/flag-us.png" alt="flag-us" /> English-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="active">-->
                                <!--<a href="../cn/index.html">-->
                                    <!--<img src="../assets/images/flags/flag-cn.png" alt="flag-cn" /> Chinese-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
                <!--<a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank">-->
                    <!--<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">-->
                <!--</a>-->
            </nav>
            <!-- 右侧的导航 -->

            <!--链接 begin -->
            {% for topic in topic_list %}
                {% with topic.topic_set.all as sub_topic_list %}
                    {% if sub_topic_list %}
                        {% for subtopic in sub_topic_list %}
                            <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ subtopic.name }}"></i>{{ subtopic.name }}</h4>
                            {% with subtopic.link_set.all as link_list %}
                            {% if link_list %}
                            <div class="row">
                             {% for link in link_list %}
                                <div class="col-sm-3">
                                <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="https://dribbble.com/">
                                    <div class="xe-comment-entry">
                                        <a class="xe-user-img">
                                        <img src="{{ link.pic.url }}" class="img-circle" width="40">
                                        </a>
                                        <div class="xe-comment">
                                        <a href="#" class="xe-user-name overflowClip_1">
                                         <strong>{{ link.name }}</strong>
                                        </a>
                                        <p class="overflowClip_2">{{ link.info }}</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                             </div>
                        {% endif  %}
                        {% endwith  %}
                        {% endfor %}
                    {% else  %}
                        {% if topic.parent_id is None %}
                            <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ topic.name }}"></i>{{ topic.name }}</h4>

                        {% with topic.link_set.all as link_list %}
                        {% if link_list %}
                        <div class="row">
                        {% for link in link_list %}
                        <div class="col-sm-3">
                        <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="https://dribbble.com/">
                            <div class="xe-comment-entry">
                                <a class="xe-user-img">
                                <img src="{{ link.pic.url }}" class="img-circle" width="40">
                                </a>
                                <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong>{{ link.name }}</strong>
                                </a>
                                <p class="overflowClip_2">{{ link.info }}</p>
                                </div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                        </div>
                        {% endif  %}
                        {% endwith  %}
                        {% endif  %}
                    {% endif  %}
                {% endwith %}
            {% endfor %}

            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        &copy; 2017-2019
                        <a href="../cn/about.html"><strong>WebStack</strong></a> design by <a href="http://viggoz.com" target="_blank"><strong>Viggo</strong></a>
                        <!--  - Purchase for only <strong>23$</strong> -->
                    </div>
                    <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- 锚点平滑移动 -->
    <script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);

            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })
        $('.user-info-menu .hidden-sm').click(function(){
            if($('.sidebar-menu').hasClass('collapsed')) {
                $('.has-sub.expanded > ul').attr("style","")
            } else {
                $('.has-sub.expanded > ul').show()
            }
        })
        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        $("a.smooth").click(function(ev) {
            ev.preventDefault();

            public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
            ps_destroy();
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top - 30
            }, {
                duration: 500,
                easing: "swing"
            });
        });
        return false;
    });

    var href = "";
    var pos = 0;
    $("a.smooth").click(function(e) {
        $("#main-menu li").each(function() {
            $(this).removeClass("active");
        });
        $(this).parent("li").addClass("active");
        e.preventDefault();
        href = $(this).attr("href");
        pos = $(href).position().top - 30;
    });
    </script>
    <!-- Bottom Scripts -->
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/TweenMax.min.js' %} "></script>
    <script src=" {% static 'js/resizeable.js' %}"></script>
    <script src=" {% static 'js/joinable.js' %}"></script>
    <script src=" {% static 'js/xenon-api.js' %}"></script>
    <script src=" {% static 'js/xenon-toggles.js' %}"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src=" {% static 'js/xenon-custom.js' %}"></script>
</body>

</html>